{% extends 'layout.html.twig' %}

{% block title %}Departamentos - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Listado de departamentos</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Jefatura de departamento</th>
            </tr>
        </thead>
        <tbody>
            {% for departamento in departamentos %}
                <tr>
                    <td>{{ departamento.descripcion }}</td>
                    <td>
                        {# departamento.jefatura ?: '---' #}
                        {{ departamento.jefatura | default('---') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}