{% extends 'layout.html.twig' %}

{% block title %}Departamentos - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Listado de departamentos</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Jefatura de departamento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for departamento in departamentos %}
                <tr>
                    <td>
                        {{ departamento.descripcion }}
                    </td>
                    <td>
                        {# departamento.jefatura ?: '---' #}
                        {{ departamento.jefatura | default('---') }}
                    </td>
                    <td>
                        <a href="{{ path('departamento_llaves', { 'id': departamento.id }) }}" class="btn btn-sm btn-info"> <i class="fa fa-key"></i> Mostrar llaves
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}